<app-navbar></app-navbar>

<div class="container1">
    <hr>
    <!-- Slider main container -->
    <swiper-container class="mySwiper" data-swiper-autoplay="10" data-swiper-loop="true" data-swiper-pagination=".swiper-pagination" data-swiper-navigation=".swiper-button-next, .swiper-button-prev" data-swiper-scrollbar=".swiper-scrollbar">
        <swiper-slide><img src="https://betblaser.fun/assets/images/slide1.png" alt="" srcset=""></swiper-slide>
        <swiper-slide><img src="https://betblaser.fun/assets/images/slide1.png" alt="" srcset=""></swiper-slide>

    </swiper-container>
    <hr>
    <div class="jogos1">
        <div class="title">
            <p><i class="fa-regular fa-gamepad-modern" style="font-size: 32px;margin-right: 10px;color: #FF5F3E;"></i> Jogos da Fortuna</p>
            <p class="right">Ver todos<i class="fa-regular fa-chevron-right" style="font-size: 25px;margin-top: 13px;margin-left: 10px;color: #FF5F3E;"></i></p>
        </div>


        <div class="container my-4">
            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5 row-cols-lg-6   g-12">
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 1">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 2">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 3">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 4">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 5">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 6">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 7">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 8">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 9">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 10">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 11">
                    </div>
                </div>
                <div class="col">
                    <div class="grid-item">
                        <img src="https://i.imgur.com/7Z3On1p.png" alt="Imagem 12">
                    </div>
                </div>

            </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    </div>