.navbar {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100vh;
    background: #222;
    position: fixed;
}

.navbar .link-geral {
    display: flex;
    background: #333;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.navbar a svg {
    width: 40px;
}

.afiliado {
    display: flex;
    background: green;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.afiliado svg {
    background: red;
}

.title {
    margin-top: 20px;
    color: white;
    font-size: 1.7rem;
    background: red;
    width: 1.5px;
    margin-left: 20px;
}

.title p {
    margin-left: 10px;
}

a img {
    width: 40px;
    height: 40px;
}

.populares {
    display: flex;
    background: #333;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.populares p {
    margin-top: 5px;
    margin-left: 20px;
    justify-content: baseline;
    align-content: baseline;
}