<div class="container1">
    <div class="box">
        <div class="title">
            <h1>VAMOS JOGAR?</h1>
            <p>Estamos te esperando para mais uma rodada!</p>
        </div>
        <hr>
        <div class="areas">

            <div class="img-pro">
                <img src="https://i.imgur.com/sg33vV9.png" alt="" srcset="">
            </div>
            <div class="inputs">
                <h1>Entrar</h1>
                <!-- LOGIN -->
                <i class="fa-regular fa-envelope"></i>
                <input type="text" placeholder="E-mail">
                <!-- LOGIN -->
                <!-- SENHA -->
                <i class="fa-regular fa-lock"></i>
                <input type="password" name="" id="" placeholder="Password">
                <!-- SENHA -->
                <!-- RECUPERAR -->
                <a href="">Esqueci minha senha</a><br><br>
                <!-- RECUPERAR -->
                <!-- SUBMIT -->
                <button type="submit">ENTRAR</button>
                <!-- SUBMIT -->
                <!-- REGISTRAR -->
                <p>Novo no RcsBet?<a href="#">Criar conta</a></p>
                <!-- REGISTRAR -->

            </div>
        </div>
    </div>
</div>