<div class="container1">
    <div class="box">
        <div class="title">
            <h1>VAMOS JOGAR?</h1>
            <p>Estamos te esperando para mais uma rodada!</p>
        </div>
        <hr>
        <div class="areas">

            <div class="img-pro">
                <img src="https://i.imgur.com/sg33vV9.png" alt="" srcset="">
            </div>
            <div class="inputs">
                <h1>Entrar</h1>
                <!-- LOGIN -->
                <svg class="email" width="32px" height="52px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z" fill="#ffffff"></path> </g></svg>
                <input type="text" placeholder="E-mail">
                <!-- LOGIN -->
                <!-- SENHA -->
                <svg class="email" width="32px" height="52px" viewBox="0 0 48.00 48.00" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000" stroke-width="1.9200000000000004"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.a{fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;}</style></defs><path class="a" d="M24,25.28a3.26,3.26,0,0,0-1.64,6.07V36h3.32V31.35a3.28,3.28,0,0,0,1.61-2.8v0A3.27,3.27,0,0,0,24,25.28Z"></path><rect class="a" x="7.38" y="17.77" width="33.23" height="25.73" rx="4.32"></rect><path class="a" d="M13.35,17.77V15.16a10.66,10.66,0,0,1,21.32,0v2.61"></path></g></svg>
                <input type="password" name="" id="" placeholder="Password">
                <!-- SENHA -->
                <!-- RECUPERAR -->
                <a href="">Esqueci minha senha</a><br><br>
                <!-- RECUPERAR -->
                <!-- SUBMIT -->
                <button type="submit">ENTRAR</button>
                <!-- SUBMIT -->
                <!-- REGISTRAR -->
                <p>Novo no RcsBet?<a href="registrar">Criar conta</a></p>
                <!-- REGISTRAR -->

            </div>
        </div>
    </div>
</div>
